:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 360px;
  min-height: 100vh;
  font-size: 13px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 3px 0 5px 0;
  border-radius: 5px;
  border:none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
button:hover {
  /* border-color: #646cff; */
}

ul { padding: 0 }
.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ListNew */
.list-new select {
  width: 60px;
  padding: 4px;
  border-color: #b4b4b4;
  border-radius: 5px;
}

.list-new select > option:checked {
  background-color: #F7E02C;
}

.list-new input {
  width: 170px;
  height: 23px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  margin: 0 4px
}

.list-new button {
  width: 48px;
}

/* ListCategory */
.list-category li {
  display: inline-block;
  width: 35px;
  text-decoration: none;
  color: #000;
  background-color: #eeeeee;
  margin-left: 5px;
  border-radius: 5px;
  padding: 3px
}
.list-category li:hover{
  cursor: pointer;
  color: #000;
  /* background-color: #F7E02C; */
}

/* ListMain */
.list-main button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
.list-main a {
  color: #fff
}